name: Publish to PyPI

on:
  release:
    types: [created]
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: "Install uv"
        uses: astral-sh/setup-uv@v6

      - name: "Install"
        run: uv sync --locked --group dev

      - name: "Test"
        run: uv run pytest tests

  publish:
    needs: test
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      id-token: write
    environment: pypi

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: "Install uv"
        uses: astral-sh/setup-uv@v6

      - name: "Install"
        run: uv sync --locked --group dev

      - name: "Build"
        run: uv build

      - name: "Publish to PyPi"
        if: github.event_name == 'release' && github.event.action == 'created'
        run: uv publish -v dist/*
